# KAGGLE
KAGGLE_USERNAME="<votre_id_kaggle>"
KAGGLE_API_TOKEN="<votre_cle_api_kaggle>"

# AZURE BLOB STORAGE
AZURE_STORAGE_CONNECTION_STRING="<votre_chaine_de_connexion>"
CONTAINER_NAME="blackfriday-data"

# AZURE OPENAI
AZURE_OPENAI_ENDPOINT="https://<votre-ressource>.cognitiveservices.azure.com/"
AZURE_OPENAI_KEY="<votre-clé>"
AZURE_OPENAI_DEPLOYMENT="<nom-du-deploiement>"  # ex: gpt-4o-mini
AZURE_OPENAI_API_VERSION="2024-12-01-preview"

# AZURE TEXT ANALYTICS
TEXT_ANALYTICS_ENDPOINT = "https://<votre-ressource>.cognitiveservices.azure.com/"
TEXT_ANALYTICS_KEY = "<votre-clé>"
